---
layout: default
cards:
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic culpa quo ipsa, porro nisi.
   featured_image: /images/the-sleep-co1.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic culpa quo ipsa, porro nisi.
   featured_image: /images/the-sleep-co2.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic culpa quo ipsa, porro nisi.
   featured_image: /images/the-sleep-co3.jpg
---

    
    <!---------------- Header Banner -------------------->
    <header class="grid tall-60">
        
        {% include header-nav.html %}

        <div class="col-12-middle text-center">
            <h3 class="font-weight-extra-bold editable">
                 <span class="featured-text"> addictively </span> soft 
            </h3>
            <h1 class="font-weight-light editable"> you won't want to get out of bed </h1>
        </div>
    </header>


        <!-------------------- text grid sustainability --------------------->

    <section class="padded grid bg-featured">
        <div class="padded-sm col-12 text-center">
            <h2> <span class="white-text"> features </span> you will love </h2>
        </div>
        <div class="padded-sm col-3 editable">
            <h3> little heading</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam vero obcaecati sed perspiciatis, nihil vitae fugit, voluptatibus delectus inventore totam qui recusandae eligendi facere odit nobis, reprehenderit dicta nisi?</p>
        </div>
        <div class="padded-sm col-3 editable">
            <h3> little heading</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam vero obcaecati sed perspiciatis, nihil vitae fugit, voluptatibus delectus inventore totam qui recusandae eligendi facere odit nobis, reprehenderit dicta nisi?</p>
        </div>
        <div class="padded-sm col-3 editable">
            <h3> little heading</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam vero obcaecati sed perspiciatis, nihil vitae fugit, voluptatibus delectus inventore totam qui recusandae eligendi facere odit nobis, reprehenderit dicta nisi?</p>
        </div>
        <div class="padded-sm col-3 editable">
            <h3> little heading</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam vero obcaecati sed perspiciatis, nihil vitae fugit, voluptatibus delectus inventore totam qui recusandae eligendi facere odit nobis, reprehenderit dicta nisi?</p>
        </div>
    </section>

    <!-- Cards -->

    <section class="grid padded">

        {% for item in page.cards%}
        <div class="col-4_sm-12 padded-sm">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded-1">
                    <h3> {{item.heading}}</h3>
                    <p> {{item.description}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

    <!----------------------- Image Banner ------------------------->
    <section class="padded text-center bg-dark tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text"> 
                <span class="small-text font-weight-normal">never underestimate the power of </span> 
                <br> free <span class="featured-text"> express shipping </span>
            </h3>
        </div>  
    </section> 

    <!---------------- Gallery / about Section ----------------->
    <section class="grid">
        <div class="padded col-6-middle">
            <h2 class="editable">
                 built to last a <span class="featured-text"> lifetime </span>
            </h2>
            <p class="editable">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui non ad deleniti dolore aperiam nihil asperiores, quod amet itaque exercitationem suscipit veniam quos! Aperiam pariatur soluta ratione unde recusandae incidunt.
            </p>
            <p class="editable"> 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis soluta molestias fugiat tempora ut harum nemo eligendi mollitia vitae earum quibusdam perspiciatis tempore adipisci architecto, veniam in ex quos nobis?
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-- background image bed -->
        </div>
        <div class="bg-image bg-pug col-6 tall-70">
            <!-- background image pug sleeping -->
        </div>
        <div class="padded col-6-middle editable">
            <h2> so <span class="featured-text"> soft </span> you'll melt </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui non ad deleniti dolore aperiam nihil asperiores, quod amet itaque exercitationem suscipit veniam quos! Aperiam pariatur soluta ratione unde recusandae incidunt.</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis soluta molestias fugiat tempora ut harum nemo eligendi mollitia vitae earum quibusdam perspiciatis tempore adipisci architecto, veniam in ex quos nobis?</p>
        </div>
        <div class="padded col-6-middle">
            <h2 class="editable">
                 built to last a <span class="featured-text"> lifetime </span>
            </h2>
            <p class="editable">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui non ad deleniti dolore <strong> aperiam nihil </strong> asperiores, quod amet itaque exercitationem suscipit veniam quos! Aperiam pariatur soluta ratione unde recusandae incidunt.
            </p>
            <p class="editable"> 
                Lorem ipsum dolor sit <em>amet</em> consectetur adipisicing elit. Similique totam aperiam deleniti esse quae at <a href="https://www.google.com">asperiores, ab delectus</a> quis, dolore enim a laudantium sunt officia natus neque perferendis ipsam iusto.
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-- background image bed -->
        </div>
    </section>


    

