    <!----------------------- Foooter ---------------------------->
    <footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
        <h2> let's <br> <span class="featured-text"> connect </span> </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minima minus exercitationem voluptatibus accusamus odio et sunt optio, aspernatur dolor. Consectetur repellat totam illum at consequatur! Laboriosam dolor dolorem omnis.</p>
    </div>
    <div class="col-5-bottom">
        <p> <strong> Call: </strong> <a href="tel:#">04 555 5555 </a> </p>
        <p> <strong> Email: </strong> <a href="mailto:#"> hello@thesleep.co </a> </p>
        <p> <strong> Store: </strong> 55 Main St, Chicago </p>
        <p> <strong> Instagram: </strong> <a href="http://www.instagram.com/thesleepco"> @thesleepco </a> </p>
    </div>
</footer>